 <div {{bind-attr class=":election-outcome electionOutcome" style=outcomeFontColorStyle}}>
   {{#if requiresRunoff}}
     {{! do any run off stuff here in the donut hole }}
     {{outcomeMessage}}
   {{else}}
     {{outcomeMessage}}
   {{/if}}
 </div>
