<div {{bind-attr class=":election-outcome__results" }}>
  <div class="final-seats">Final Seats</div>
  {{#each party in displayParties}}
    <div {{bind-attr class="hasWinner::runoff party.name :party-winner"}}> {{party.abbreviation}}</div>
  {{/each}}
 </div>
