<img src="images/duverger_logo.png" class="duverger-logo" />

<header class="project-name">Project Duverger</header>

<div class="description">
  Duverger is an instructional tool for exploring the relationship between what voters want, different types of electoral system, and the outcomes of legislative elections.
</div>

<div class="district-level">
  <header>District Level<header>
  
  Enter the number of voters in a particular preference group using the arrows and view the 
  results of the election in the pie chart.
</div>

<button class="toggle-btn" {{action 'toggleLeftHandPanel'}}>Toggle</button>
