<ul class="tabs">
  <li class="tab tab-duverger">
    <input type="radio" name="tabs" id="tab1" checked />
    <label for="tab1">
      <svg role="img" title="Duverger" class="icon sprite-duverger-outline" viewBox="0 0 41.8 57.2">
        <use xlink:href="svg/spritemap.svg#duverger-outline"></use>
      </svg>
      Duverger
    </label>
    <div id="tab-content1" class="tab-content tab-content-about">
      <svg role="img" title="Duverger" class="sprite-duverger" viewBox="0 0 151.2 208.7">
        <use xlink:href="svg/spritemap.svg#icon-duverger"></use>
      </svg>
      <div class="content">
        <h2 class="project-name">Project Duverger</h2>
        <p class="description">Duverger is an instructional tool for exploring the relationship between what voters want, different types of electoral systems, and the outcomes of legislative elections.</p>
      </div>
    </div>
  </li>
  <li class="tab tab-parameters">
    <input type="radio" name="tabs" id="tab2" />
    <label for="tab2">
      <svg role="img" title="Duverger" class="icon sprite-icon-parameters" viewBox="0 0 53 47">
        <use xlink:href="svg/spritemap.svg#icon-parameters"></use>
      </svg>
      Parameters
    </label>
    <div id="tab-content2" class="tab-content">
      <header class="tab-header header--global-parameters">Global Parameters</header>

      <table class="table--parameters">
        <thead>
          <tr>
            <th>Parameter</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span class="parameter">Formula</span>
              <span class="description">Rule for Counverting Votes into Seats</span>
            </td>
            <td class="value">Majority with runoff</td>
          </tr>
          <tr>
            <td>
              <span class="parameter">District magnitude (DM)</span>
              <span class="description">Number of seats elected per district</span>
            </td>
            <td class="value">1</td>
          </tr>

          <tr>
            <td>
              <span class="parameter">Legislative size</span>
              <span class="description">Number of seats in the legislature</span>
            </td>
            <td class="value">1</td>
          </tr>

          <tr>
            <td>
              <span class="parameter">Number of voters</span>
              <span class="description">Voters per district</span>
            </td>
            <td class="value">Unlimited</td>
          </tr>

          <tr>
            <td>
              <span class="parameter">Preference Groups</span>
              <span class="description">Groups of voters with the same party preferences</span>
            </td>
            <td class="value">5</td>
          </tr>
        </tbody>
      </table>

      <table class="table--parties">
        <thead>
          <tr>
            <th>Party Name</th>
            <th>Party color</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Conservative (C)</td>
            <td><span class="conservative">Charcoal</span></td>
          </tr>
          <tr>
            <td>Green (G)</td>
            <td><span class="green">Green</span></td>
          </tr>
          <tr>
            <td>Liberal (L)</td>
            <td><span class="liberal">Yellow</span></td>
          </tr>
          <tr>
            <td>Nationalist (N)</td>
            <td><span class="nationalist">Teal</span></td>
          </tr>
          <tr>
            <td>Social Democrat (SD)</td>
            <td><span class="social-democrat">Red</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </li>
  <li class="tab tab-formulas">
    <input type="radio" name="tabs" id="tab3" />
    <label for="tab3">
      <svg role="img" title="Formulas" class="icon sprite-icon-formulas" viewBox="0 0 54.6 39.6">
        <use xlink:href="svg/spritemap.svg#icon-formulas"></use>
      </svg>
      Formulas
    </label>

    <div id="tab-content3" class="tab-content">
      <header class="tab-header header--formulas">Formulas</header>

      <div class="formulas--block formulas--majority-runoff">
        <header class="formulas--header header--majority-runoff">Majority Runoff</header>
        <ul class="items">
          <li class="item">Typically used with a district magnitude of 1.</li>
          <li class="item">Each voter casts one vote for one party.</li>
          <li class="item">If a party receives more than half the votes, that party wins the seat(s) for the district.</li>
          <li class="item">If no party receives more than half the votes, a runoff election is held between the top two parties.</li>
          <li class="item">Ties are resolved by lot.</li>
        </ul>
      </div>

      <div class="formulas--block formulas--plurality">
        <header class="formulas--header header--plurality">Plurality</header>
        <ul class="items">
          <li class="item">(aka “first past the post”, “winner take all”)</li>
          <li class="item">Typically used with a district magnitude of 1 (“SMD plurality”).</li>
          <li class="item">Each voter casts one vote for one party.</li>
          <li class="item">The party with the greatest number of votes wins the seat(s) for the district.</li>
          <li class="item">Ties are resolved by lot.</li>
        </ul>
      </div>
    </div>
  </li>
  <li class="tab tab-team">
    <input type="radio" name="tabs" id="tab4" />
    <label for="tab4">
      <svg role="img" title="Formulas" class="icon sprite-icon-team" viewBox="0 0 83 44.9">
        <use xlink:href="svg/spritemap.svg#icon-team"></use>
      </svg>
      Team
    </label>
    <div id="tab-content4" class="tab-content">
      <h3>Contact the team <a href="http://www.twitter.com/projectduverger">@projectduverger</a></h3>
      <div class="team-member team-member1">
        <div class="team-member-photo">
          <a class="team-member-twitter" href="http://www.twitter.com/drphilipjhowe">@DrPhilipJHowe</a>
          <img src="/images/team/drphil_.png" />
        </div>
        <span class="team-name">Dr Philip Howe</span>
        <span class="team-title">Founder &amp; SME</span>
      </div>
      <div class="team-member team-member2">
        <div class="team-member-photo">
          <a class="team-member-twitter" href="http://www.twitter.com/howetowork">@HoweToWork</a>
          <img src="/images/team/stephen_.png" />
        </div>
        <span class="team-name">Stephen Howe</span>
        <span class="team-title">Product Manager</span>
      </div>
      <div class="team-member team-member3">
        <div class="team-member-photo">
          <a class="team-member-twitter" href="http://www.twitter.com/mlpCreative">@mlpCreative</a>
          <img src="/images/team/margs_.png" />
        </div>
        <span class="team-name">Margs Plaisted</span>
        <span class="team-title">Designer</span>
      </div>
      <div class="team-member team-member4">
        <div class="team-member-photo">
          <a class="team-member-twitter" href="http://www.twitter.com/evaneesemann">@EvaNeesemann</a>
          <img src="/images/team/eva_.png" />
        </div>
        <span class="team-name">Eva Neesemann</span>
        <span class="team-title">Designer</span>
      </div>
      <div class="team-member team-member5">
        <div class="team-member-photo">
          <a class="team-member-twitter" href="http://www.twitter.com/yuchenzhang_usa">@yuchenzhang_usa</a>
          <img src="/images/team/chen_.png" />
        </div>
        <span class="team-name">Yuchen Zhang</span>
        <span class="team-title">Designer</span>
      </div>
      <div class="team-member team-member6">
        <div class="team-member-photo">
          <a class="team-member-twitter" href="http://www.twitter.com/sam_thurman">@Sam_Thurman</a>
          <img src="/images/team/sam_.png" />
        </div>
        <span class="team-name">Sam Thurman</span>
        <span class="team-title">Developer</span>
      </div>
      <div class="team-member team-member7">
        <div class="team-member-photo">
          <a class="team-member-twitter" href="http://www.twitter.com/willbagby">@WillBagby</a>
          <img src="/images/team/will_.png" />
        </div>
        <span class="team-name">Will Bagby</span>
        <span class="team-title">Engineer</span>
      </div>
      <div class="team-member team-member8">
        <div class="team-member-photo">
          <a class="team-member-twitter" href="http://www.twitter.com/habdelra">@habdelra</a>
          <img src="/images/team/hassan_.png" />
        </div>
        <span class="team-name">Hassan Abdel-Rahman</span>
        <span class="team-title">Engineer</span>
      </div>
      <div class="team-member team-member9">
        <div class="team-member-photo">
          <a class="team-member-twitter" href="http://www.twitter.com/michaelaharkins">@michaelaharkins</a>
          <img src="/images/team/michaela_.png" />
        </div>
        <span class="team-name">Michaela Harkins</span>
        <span class="team-title">QA</span>
      </div>
      <span class="support-callout">For support queries contact: <a href="mailto:duvergerproject@gmail.com">duvergerproject@gmail.com</a></span>
    </div>
  </li>
  <li class="tab tab-info"><button class="toggle-btn" {{action 'toggleLeftHandPanel'}}>Info</button></li>
</ul>
