// Left section that contains the pie chart
// and election results
.election-outcome {
  width: grid-width(9);
  float: left;
  padding: grid-height(2) grid-width(1);
}

// Right section that contains the
// Primary election settings
.election-settings {
  width: grid-width(7);
  float: right;
  padding: grid-height(2) 0;
  background: $background-color-secondary;
  border-left: 1px solid $border-color;

  .election-settings__overview {
    padding: 0 $grid-padding-unit 0;
  }

  .header--election--dropdown {
    float: right;
  }
}