@font-face {
    font-family: 'source_sans_prosemibold';
    src: url('../fonts/sourcesanspro-semibold-webfont.eot');
    src: url('../fonts/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-semibold-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-semibold-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

$background-color: #EDEBE0;
$social-democrat-color: #FB5258;
$liberal-color: #F8DB3B;
$green-color: #BBDF2A;
$nationalist-color: #46C8B3;
$conservative-color: #777777;
$text-color: #333333;
$light-text-color: #FFFFFF;
$text-feild-color: rgba(51,51,51,.2);

$font-size-small: 24px;
$font-size-medium: 30px;
$font-size-large: 42px;
$font-size-largest: 200px;

@mixin transition-property($property) {
  -webkit-transition: $property .1s ease-in-out;
  -moz-transition: $property .1s ease-in-out;
  -o-transition: $property .1s ease-in-out;
  transition: $property .1s ease-in-out;
}

@mixin grid-width($units){
  $column-width: 95px;
  $gutter-width: 33px;
  @if $units > 1 {
      $gutter-amount: $units - 1;
      width: $column-width * $units + $gutter-amount * $gutter-width;
    } @else {
      width: $column-width;
    }
}

@mixin grid-height($units){
  height: $units*20px;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

html, body {
  margin: 20px;
  background-color: $background-color;
  font-family: 'source_sans_prosemibold', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: $font-size-small;
  color: $text-color;
  *{
    box-sizing: border-box;
  }
}


.donut-chart {
  float: left;
}

.preference-group {
  margin-bottom: 20px;
  font-size: 0; //hack to remove inline block spaces
  white-space: nowrap; //make sure inline preference items never break to a new line
  > * {
    font-size: $font-size-medium; //undo the hack so font displays ;(
  }

  .party-preference {
    display: inline-block;
    position: relative;
    vertical-align: top;
    text-align: center;
    background: $light-text-color;
    padding: 20px;
    @include grid-width(1);
    @include grid-height(5);

    &:hover {
      cursor: -moz-grab;
      cursor: -webkit-grab;
      cursor: grab;
      bottom: 4px;
      @include transition-property(bottom);
    }

    .secondary-party-name {
      display: block;
      font-size: $font-size-large;
      @include vertical-align;
    }

    &:after {
        content: "";
        display: block;
        border: 10px solid black;
        border-bottom: 10px solid transparent;
        border-left: 10px solid transparent;
        position: absolute;
        top: 0;
        right: 0;
    }
    &.conservative:after {
      border-top-color: $conservative-color;
      border-right-color: $conservative-color;
    }
    &.green:after {
      border-top-color: $green-color;
      border-right-color: $green-color;
    }
    &.nationalist:after {
      border-top-color: $nationalist-color;
      border-right-color: $nationalist-color;
    }
    &.liberal:after {
      border-top-color: $liberal-color;
      border-right-color: $liberal-color;
    }
    &.socialDemocrat:after {
      border-top-color: $social-democrat-color;
      border-right-color: $social-democrat-color;
    }

    &.first-preference {
      color: $light-text-color;
      text-align: left;
      white-space: normal;
      @include grid-width(3);
      @include grid-height(5);

      .party-name {
        display: inline-block;
        padding-right: 100px;
        @include vertical-align;
      }

      .vote-input-container {
        background: $text-feild-color;
        padding: 10px;
        position: absolute;
        top: 20px;
        right: 20px;

        .vote-input {
          background: none;
          border: none;
          padding: 0;
          margin: 0;
          display: inline-block;
          width: 60px;
          height: auto;
          font-size: $font-size-medium;
          font-weight: 600;
          color: $light-text-color;
          text-align: center;
        }

        .vote-input:focus {
          outline: none;
        }
      }

      &:after { display: none; }
      &:hover {
        cursor: auto;
        bottom: 0;
      }
    }

    &.dragging {
      opacity: .4;
    }
  }

  &.socialDemocrat .first-preference{ background: $social-democrat-color; }
  &.liberal .first-preference{ background: $liberal-color; }
  &.nationalist .first-preference{ background: $nationalist-color; }
  &.green .first-preference{ background: $green-color; }
  &.conservative .first-preference{ background: $conservative-color; }

  .preference-drop-zone {
    display: inline-block;
    width: 1px;
    @include grid-height(5);
    @include transition-property(width);

    &.can-accept-drop {
      width: 10px;
    }

    &.accepts-drag {
      background: $text-feild-color;
      width: 40px;
    }
  }
}



.donut-chart {
  margin-bottom: 50px;
  position: relative;
}

.donut-hole {
  padding-top:87px;
  position: absolute;
  text-align: center;
}

.hole-wrapper {
}


