// left hand panel
// SHAME
// bad styles
$lhp-width: grid-width(8);
$lhp-thumb-height: 26px;
$lhp-thumb-padding: 10px;

.left-hand-panel {
  background-color: $lhp-background-color;
  color: $text-color-lhp;
  width: $lhp-width;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9000;
  @include transition-property(left);

  &.closed, &.closed .tabs .tab-content {
    left: -$lhp-width;
    @include transition-property(left);
  }

  .project-name .sprite-duverger-text{
    height: 77px;
    width: 228px;
  }

  .tabs {
    padding: 0 0 0 8px;
    list-style: none;
    text-align: left;
    display: inline-block;
    position: absolute;
    bottom: 0;
    background-color: rgba($text-color, .8);

    .tab {
      text-align: center;
      vertical-align: top;
      float: left;
      width: 120px;
      position: relative;
    }

    .icon {
      stroke: #fff;
      margin-bottom: 5px;
    }

    input[type="radio"] {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    label {
      @include transition(background-color 0.2s ease-in-out);
      @extend %font-size-small;
      display: block;
      border-radius: 2px 2px 0 0;
      text-transform: uppercase;
      text-align: center;
      vertical-align: text-bottom;
      background-position: center 10px;
      background-repeat: no-repeat;
      cursor: pointer;
      padding: $lhp-thumb-height + $lhp-thumb-padding + 2 $lhp-thumb-padding $lhp-thumb-padding $lhp-thumb-padding;
      position: relative;

      &:hover {
        cursor: pointer;
      }
    }

    .tab-content{
      @extend %font-size-medium;
      line-height: normal;
      z-index: 2;
      display: none;
      overflow: hidden;
      width: 100%;
      line-height: 25px;
      padding: 25px $column-width;
      position: fixed;
      top: 0;
      left: 0;
      bottom: $lhp-thumb-height*2 + 8px;
      width: $lhp-width;
      @include transition-property(left);
    }

    [id^="tab"] {
      &+label:hover {
        cursor: pointer;
      }

      &+label:hover, &:checked+label {
        background-color: darken($lhp-background-color, 15);
      }

      &:checked ~ [id^="tab-content"] {
        //Show or hide section based on whether tab is checked
        display: -webkit-flex;
        display: flex;
      }

      .tab-inner {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        align-content: -webkit-flex-start;
        align-content: flex-start;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        overflow: auto;
      }
    }

    .tab-content-about {
      $duverger-icon-width: 75px;
      $duverger-icon-height: 104px;
      text-align: left;

      .sprite-duverger {
        -webkit-flex-grow: 0;
        -webkit-flex-shrink: 0;
        -webkit-flex-basis: $duverger-icon-width;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: $duverger-icon-width;
        height: $duverger-icon-height;
        margin-right: $gutter-width;
      }

      .content-header {
        @extend %font-small;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -webkit-flex-grow: 1;
      }

      .description {
        margin: 0 0 30px 0;
      }

      .project-name {
        @extend %font-maximum;
        text-transform: uppercase;
        margin: 22px 0;
      }
    }

    .icon {
      position: absolute;
      top: $lhp-thumb-padding - 4;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }

    .sprite-duverger-outline { height: $lhp-thumb-height; width: 20px; }
    .sprite-icon-parameters { height: $lhp-thumb-height; width: 25px; }
    .sprite-icon-formulas { height: $lhp-thumb-height; width: 25px; }
    .sprite-icon-team { height: $lhp-thumb-height; width: 40px; }

    .tab-info {
      border-radius: 0 36px 36px 0;
      width: 80px;
      padding: 0;
      height: 100%;
      position: absolute;
      left: $lhp-width;
      background-color: rgba($text-color, .8);
    }

    .toggle-btn {
      text-indent: -6px;
      display: block;
      height: 60px;
      width: 100%;
      color: $text-color-light;
      background: transparent;
      border: none;
      outline: none;
      text-transform: uppercase;
      display: block;
    }

    .tab-header {
      color: $text-color-light;
      font-size: 20px;
      font-weight: normal;
      margin-bottom: 30px;
      text-align: left;
      color: $text-color-light;
      -webkit-align-self: flex-start;
      align-self: flex-start;
      width: 100%;
    }
  }
}