.application-wrapper {
  position:relative;
}

@mixin simple-hover-state($color) {
  @include transition(background-color .1s);

  &:hover {
    cursor: pointer;
    background-color: $color;
  }
}

%election-header-style {
  @extend %font-small;
  text-transform: uppercase;
  color: $text-color-secondary;
}

* {
  outline: none;
}


button {
  cursor: pointer;
  @extend %font-family-standard;
}

// Election Headers
//
// ---------------------------------------
// The headers used for main sections
// in the election screen
// ---------------------------------------

// Top level header
.header--election,
.header--election--dropdown {
  display: inline-block;
  margin: 0 0 grid-height(3);
  width: grid-width(2);

  .header--election__label {
    @extend %election-header-style;
    text-align: center;
    padding: grid-height(1) 0;
    margin: 0 0 grid-height(2);
    border-bottom: 1px solid $border-color;
    border-top: 1px solid transparent;
    display: block;

    &.formula__label {
      overflow: hidden;
      padding: 1px 0;
    }

    &.menu-displayed {
      background: $text-color-light;
      border: 1px solid $text-color;
      border-bottom-width: 0;
    }
  }

  .header--election__value {
    @extend %font-large;
    color: $conservative-color;
    text-align: center;

    &.invalid {
      color: $orange-color;
    }
  }
}

.header--election--dropdown {
  position: relative;
  width: grid-width(3)+$grid-padding-unit;
}

// Secondary header
.header--election--secondary {
  text-transform: uppercase;
  line-height: grid-height(3);
  color: $conservative-color;
  border-bottom: 1px solid $border-color;
  border-top: 1px solid $border-color;
  padding: grid-height(1) 0 grid-height(1) $grid-padding-unit;
  margin: 0 0 grid-height(1);
  overflow: hidden;

  >* {
    float: left;
  }

  .election-round {
    margin-left: 30px;
  }

  .secondary--voter-count {
    @extend %election-header-style;
    width: grid-width(2);
  }

  .party-preference-header .title {
    @extend %election-header-style;
    text-align: center;
    padding: 0 14px;
    float: left;

    &:first-child {
      padding: 0;
      margin-left: $grid-padding-unit + 1;
      text-align: left;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  .percentage-votes__value {
    @extend %election-header-style;
    float: right;
  }

  .election-nav-btn {
    background: $text-color-light;
    @extend %election-header-style;
    border: 1px solid $border-color;
    height: grid-height(3);
    box-shadow: 0 2px $border-color;
    padding: 0 10px;
    min-width: 170px;
    @include transition (box-shadow 0.1s ease-in-out);

    &:active {
      box-shadow: 0 2px transparent;
    }
  }
}

// Election Tools
//
// ---------------------------------------
// These are tools that you can interact with
// to change election data
// ---------------------------------------

// The voter count box
.voter-count {
  @extend %election-header-style;
  font-size: 0;
  font-weight: 100;
  display: inline-block;
  padding: 0 $grid-padding-unit;
  width: grid-width(2)+$grid-padding-unit*2;

  .voter-amount-btn {
    &.decrease, &.increase {
      width: 25px;
      height: grid-height(5);
      background-position: center center;
      @include simple-hover-state($text-color-light);
    }
    &.decrease {
      @include icon-arrow(west, false);
    }
    &.increase {
      @include icon-arrow(east, false);
    }
  }

  .vote-input {
    @extend %font-large;
    @extend %font-family-standard;
    color: $text-color;
    font-weight: 600;
    padding: grid-height(1) 0;
    width: grid-width(2) - 40;
    line-height: grid-height(3);
    height: grid-height(5);
    text-align: center;
    margin: 0 0 grid-height(2);
  }

 .invalid .vote-input {
   color: $orange-color;
 }

  .preference-group-percentage {
    @extend %election-header-style;
    font-weight: 600;

    &.invalid {
      visibility: hidden;
    }
  }

  >* {
    vertical-align: top;
  }
}

// party preference order mask
#modal {
  background-color: transparent;
  z-index: 30;

  .ic-modal-close {
    display: none;
  }

  ic-modal-title {
    display: none;
  }
  ic-modal-main {
    border: none;
    background: none;
  }
}

// party preference buttons
.preference-order {
  position: absolute;
  height: grid-height(5);
  display: inline-block;
  border-radius: 0;
  background-color: $text-color;
  padding: 5px 0 0 5px;
  width: 92px;
  margin-top: 7px;
  z-index: 35;

  .preference-order-btn {
    background: $conservative-color;
    border: none;
    @include transition(background-color .1s ease-in);
    &:active {
      @include transition(background-color .1s ease-in);
      background-color: darken($conservative-color, 10);
    }
    &[disabled] {
      opacity: .4;
      background-color: $conservative-color;
      cursor: default;
    }

    &.move-before, &.move-after {
      background-position: center center;
      width: 40px;
      height: 40px;
      stroke: white;
    }
    &.move-before {
      @include icon-arrow(west, true);
    }
    &.move-after {
      @include icon-arrow(east, true);
    }
  }
}

// Draggable party preferences
.preference-group {
  margin-bottom: grid-height(2);
  border-bottom: 1px solid $text-color-light;
  padding-bottom: grid-height(1);
  font-size: 0; //hack to remove inline block spaces
  white-space: nowrap; //make sure inline preference items never break to a new line
  > * {
    @extend %font-medium;
  }

  &:last-of-type {
    border-bottom-color: transparent;
  }

  .party-preference {
    display: inline-block;
    position: relative;
    vertical-align: top;
    text-align: center;
    background: $text-color-light;
    width: grid-width(1);
    height: grid-height(5);
    @include transition(all .1s ease-in);

    &:hover {
      cursor: -moz-grab;
      cursor: -webkit-grab;
      cursor: grab;
      bottom: 4px;
      @include transition-property(bottom);
    }

    .secondary-party-name {
      @extend %font-large;
      color: $text-color;
    }

    .ic-modal-trigger {
      display: block;
      width: 100%;
      height: 100%;
      border: none;
      background: none;
      @include vertical-align;
    }

    &:after {
        content: "";
        display: block;
        border: 10px solid black;
        margin: 1px 1px 0 0;
        border-bottom: 10px solid transparent;
        border-left: 10px solid transparent;
        position: absolute;
        top: 0;
        right: 0;
    }

    &.conservative:after {
      border-top-color: $conservative-color;
      border-right-color: $conservative-color;
    }
    &.green:after {
      border-top-color: $green-color;
      border-right-color: $green-color;
    }
    &.nationalist:after {
      border-top-color: $nationalist-color;
      border-right-color: $nationalist-color;
    }
    &.liberal:after {
      border-top-color: $liberal-color;
      border-right-color: $liberal-color;
    }
    &.socialDemocrat:after {
      border-top-color: $social-democrat-color;
      border-right-color: $social-democrat-color;
    }

    &.first-preference {
      text-align: left;
      white-space: normal;
      width: grid-width(1)+$grid-padding-unit;

      .party-name {
        @extend %font-large;
        @include vertical-align;
        color: $text-color-light;
        display: inline-block;
        width: 100%;
        text-align: center;
      }

      .vote-input-container {
        background: $text-field-color;
        padding: 10px;
        position: absolute;
        top: 20px;
        right: 20px;

        .vote-input {
          @extend %font-medium;
          background: none;
          border: none;
          padding: 0;
          margin: 0;
          display: inline-block;
          width: 60px;
          height: auto;
          font-weight: 600;
          color: $text-color-light;
          text-align: center;
        }

        .vote-input:focus {
          outline: none;
        }
      }

      &:after { display: none; }
      &:hover {
        cursor: auto;
        bottom: 0;
      }
    }

    &.moving {
      @include transition(all .1s ease-in);
      box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.5);
      z-index: 20;
    }

    &.dragging {
      opacity: .4;
    }
  }

  &.socialDemocrat .first-preference{ background: $social-democrat-color; }
  &.liberal .first-preference{ background: $liberal-color; }
  &.nationalist .first-preference{ background: $nationalist-color; }
  &.green .first-preference{ background: $green-color; }
  &.conservative .first-preference{ background: $conservative-color; }

  .preference-drop-zone {
    @include grid-height(5);
    @include transition-property(width);
    display: inline-block;
    width: 2px;
    vertical-align: top;

    &.can-accept-drop {
      width: 3px;
    }

    &.accepts-drag {
      background: $text-field-color;
      width: 40px;
    }
  }
}

// Election Visualizations
//
// ---------------------------------------
// These are the output of your inputted
// visualization data
// ---------------------------------------

// Donut Chart
.party-winner {
  @extend %font-large;
  top:0;
  left:0;
  position:absolute;
  color: $text-color-light;
  text-align: center;
  white-space: normal;
  display: inline-block;
  height: 62px;
  width: 62px;
  border: none;
  border-radius: 50%;
  line-height: 62px;
  z-index: 15;

  &.socialDemocrat { background-color: $social-democrat-color; }
  &.liberal { background-color: $liberal-color; }
  &.nationalist { background-color: $nationalist-color; }
  &.green { background-color: $green-color; }
  &.conservative { background-color: $conservative-color; }
  &.coin-toss {
    @include icon-arrow(east, true);
    width: inherit;
    height: inherit;
    background-position: 49px 26px;
    &:before {
      display: none;
    }
  }
  .coin-toss-panel & {
    @extend %font-medium;
    height: 48px;
    width: 48px;
    line-height: 51px;
  }
}

.final-seats {
  text-transform: uppercase;
  @extend %font-medium;
  color: $conservative-color;
  margin-bottom: 10px;
}

//coin stack
.hidden-text {
  position: absolute;
  opacity:0;
}

.coin-wrapper {
  display: inline-block;
  position: relative;
  margin: 10px;
  width: 62px;
  height: 62px;

  .coin-toss-panel & {
    display: block;
    height: 48px;
    width: 48px;
    margin: grid-height(2) auto 0;
  }

  .coin-stack-shadow {
    top: 2px;
    position: absolute;
    height: 62px;
    width: 62px;
    border-radius: 50%;
    background-color: $text-color-light;
    border: 1px solid $conservative-color-alpha-05;
    z-index: 13;

    & + .coin-stack-shadow {
      top: 5px;
        z-index: 12;
      & + .coin-stack-shadow {
        top: 8px;
        z-index: 11;
      }
    }
  }
}

.coin-toss-panel {
  position: absolute;
  top: -90px;
  left: 62px;
  margin-left: 17px;
  width: grid-width(3);
  text-transform: uppercase;
  background-color: $gray-color;
  z-index: 40;

  &:before {
    content: '';
    top: 113px;
    left:-20px;
    display: block;
    position: absolute;
    border: 10px solid $gray-color;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  .coin-toss-heading {
    @extend %font-medium;
    padding: grid-height(1) 0;
    background-color: $text-color;
    color: $text-color-light;
    text-align: center;
  }

  .coin-toss-party {
    width: 100%;
    display: inline-block;

    &:last-of-type {
      padding-bottom: grid-height(2);
    }

    &:before {
      display: none;
    }

    &.winner {
      @extend %icon-ribbon;
      background-position: 28px 32px;
    }
  }

}


//coin toss panel

//Unknown Result Message
.unknown-result {
  @extend %font-medium-large;
  max-width: 350px;
  color: $text-color-light;
  background-color: $orange-color;
  padding: 15px 30px;
  margin: 200px auto 0;
  text-align: center;
  text-transform: uppercase;
}

// Forumula drop down
.toggle-formula-list-button {
  border: none;
  background-color: transparent;
  vertical-align: middle;
  height: grid-height(3);
  width: 100%;
  @extend %election-header-style;

  .arrow {
    margin-left: 20px;
    @include icon-arrow(south, false);
  }
}

.vote-percentage {
  @extend %font-medium;
}

.selected-formula {
  @extend %font-large;
  text-align: center;
  text-transform: uppercase;
}

.formula-selector {
  width: 100%;
  top: grid-height(3);
  position: absolute;
  z-index: 1;
  background-color: $text-color-light;
  border: 1px solid $text-color;
  border-top-width: 0;

  .formula-item {
    padding-left: 6px;
    border-top: 1px dotted $text-color;
    margin-top: -1px;

    &:first-of-type {
      border-bottom: none;
    }

    &:hover {
      background: $text-color;

      .select-formula-button {
        color: $text-color-light;
      }
    }

    .select-formula-button {
      @extend %election-header-style;
      width: 100%;
      text-align: left;
      height: grid-height(5);
      line-height: grid-height(5);
      border: none;
      background: none;
    }
  }
}


// Menus
//
// ---------------------------------------
// Overlay Menus
// ---------------------------------------

// left hand panel
// SHAME
// bad styles
$lhp-width: grid-width(8);
$lhp-thumb-height: 26px;
$lhp-thumb-padding: 10px;

.left-hand-panel {
  background-color: $lhp-background-color;
  color: $text-color-lhp;
  width: $lhp-width;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9000;
  @include transition-property(left);

  &.closed, &.closed .tabs .tab-content {
    left: -$lhp-width;
    @include transition-property(left);
  }

  .project-name .sprite-duverger-text{
    height: 77px;
    width: 228px;
  }

  .tabs {
    padding: 0 0 0 8px;
    list-style: none;
    text-align: left;
    display: inline-block;
    position: absolute;
    bottom: 0;
    background-color: rgba($text-color, .8);

    .tab {
      text-align: center;
      vertical-align: top;
      float: left;
      width: 120px;
      position: relative;
    }

    .icon {
      stroke: #fff;
      margin-bottom: 5px;
    }

    input[type="radio"] {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    label {
      @include transition(background-color 0.2s ease-in-out);
      @extend %font-size-small;
      display: block;
      border-radius: 2px 2px 0 0;
      text-transform: uppercase;
      text-align: center;
      vertical-align: text-bottom;
      background-position: center 10px;
      background-repeat: no-repeat;
      cursor: pointer;
      padding: $lhp-thumb-height + $lhp-thumb-padding + 2 $lhp-thumb-padding $lhp-thumb-padding $lhp-thumb-padding;
      position: relative;

      &:hover {
        cursor: pointer;
      }
    }

    .tab-content{
      @extend %font-size-medium;
      line-height: normal;
      z-index: 2;
      display: none;
      overflow: hidden;
      width: 100%;
      line-height: 25px;
      padding: 25px $column-width;
      position: fixed;
      top: 0;
      left: 0;
      bottom: $lhp-thumb-height*2 + 8px;
      width: $lhp-width;
      @include transition-property(left);
    }

    [id^="tab"] {
      &+label:hover {
        cursor: pointer;
      }

      &+label:hover, &:checked+label {
        background-color: darken($lhp-background-color, 15);
      }

      &:checked ~ [id^="tab-content"] {
        //Show or hide section based on whether tab is checked
        display: -webkit-flex;
        display: flex;
      }

      .tab-inner {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        align-content: -webkit-flex-start;
        align-content: flex-start;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        overflow: auto;
      }
    }

    .tab-content-about {
      $duverger-icon-width: 75px;
      $duverger-icon-height: 104px;
      text-align: left;

      .sprite-duverger {
        -webkit-flex-grow: 0;
        -webkit-flex-shrink: 0;
        -webkit-flex-basis: $duverger-icon-width;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: $duverger-icon-width;
        height: $duverger-icon-height;
        margin-right: $gutter-width;
      }

      .content-header {
        @extend %font-small;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -webkit-flex-grow: 1;
      }

      .description {
        margin: 0 0 30px 0;
      }

      .project-name {
        @extend %font-maximum;
        text-transform: uppercase;
        margin: 22px 0;
      }
    }

    .icon {
      position: absolute;
      top: $lhp-thumb-padding - 4;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }

    .sprite-duverger-outline { height: $lhp-thumb-height; width: 20px; }
    .sprite-icon-parameters { height: $lhp-thumb-height; width: 25px; }
    .sprite-icon-formulas { height: $lhp-thumb-height; width: 25px; }
    .sprite-icon-team { height: $lhp-thumb-height; width: 40px; }

    .tab-info {
      border-radius: 0 36px 36px 0;
      width: 80px;
      padding: 0;
      height: 100%;
      position: absolute;
      left: $lhp-width;
      background-color: rgba($text-color, .8);
    }

    .toggle-btn {
      text-indent: -6px;
      display: block;
      height: 60px;
      width: 100%;
      color: $text-color-light;
      background: transparent;
      border: none;
      outline: none;
      text-transform: uppercase;
      display: block;
    }

    .tab-header {
      color: $text-color-light;
      font-size: 20px;
      font-weight: normal;
      margin-bottom: 30px;
      text-align: left;
      color: $text-color-light;
      -webkit-align-self: flex-start;
      align-self: flex-start;
      width: 100%;
    }
  }
}
