%icon {
  @include hide-text;
  display: inline-block;
  background-position: left center;
}

%icon-arrow-south {
  @extend %icon;
  background-image: url("../images/south-arrow.svg");
  background-repeat: no-repeat;
  background-size: 13px auto;
  height: 10px;
  width: 13px;
}

%icon-arrow-south-inverted {
  @extend %icon;
  background-image: url("../images/south-arrow-white.svg");
  background-repeat: no-repeat;
  background-size: 13px auto;
  height: 10px;
  width: 13px;
}

%icon-arrow-east {
  @extend %icon;
  background-image: url("../images/east-arrow.svg");
  background-repeat: no-repeat;
  background-size: auto 13px;
  height: 13px;
  width: 10px;
}

%icon-arrow-east-inverted {
  @extend %icon;
  background-image: url("../images/east-arrow-white.svg");
  background-repeat: no-repeat;
  background-size: auto 13px;
  height: 13px;
  width: 10px;
}

@mixin icon-arrow($direction, $invertedColor) {
  @if ($direction == "north" and $invertedColor == true) {
    @extend %icon-arrow-south-inverted;
    @include transform(rotate(180deg));
  } @else if ($direction == "north" and $invertedColor != true) {
    @extend %icon-arrow-south;
    @include transform(rotate(180deg));
  } @else if ($direction == "south" and $invertedColor == true) {
    @extend %icon-arrow-south-inverted;
  } @else if ($direction == "south" and $invertedColor != true) {
    @extend %icon-arrow-south;
  } @else if ($direction == "east" and $invertedColor == true) {
    @extend %icon-arrow-east-inverted;
  } @else if ($direction == "east" and $invertedColor != true) {
    @extend %icon-arrow-east;
  } @else if ($direction == "west" and $invertedColor == true) {
    @extend %icon-arrow-east-inverted;
    @include transform(rotate(180deg));
  } @else if ($direction == "west" and $invertedColor != true) {
    @extend %icon-arrow-east;
    @include transform(rotate(180deg));
  }
}

%stroke-black {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

.sprite-duverger-outline {
  @extend %stroke-black;
  width: 40px;
  height: 54px;
}

.sprite-icon-parameters {
  @extend %stroke-black;
  width: 53px;
  height: 47px;
}

.sprite-icon-formulas {
  @extend %stroke-black;
  width: 54px;
  height: 47px;
}

.sprite-icon-team {
  @extend %stroke-black;
  height: 45px;
  width: 83px;
}

.sprite-duverger {
  height: 208px;
  width: 151px;

  #icon-duverger-ballot { fill: #F6DA3C; }
  #icon-duverger-cutout { fill: #EF555A; }
  #icon-duverger-circle { fill: #52C0AE }
}