button {
  outline: none;
}

button.item-number {
  height: 80px;
  min-width: 75px;
  font-size: 70px;
  font-family: $font-header-style;
  color: white;
  background: $medium-orange;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 3px;
  border-bottom: 5px solid $dark-orange;
  padding: 0 20px;

  &:hover {
    background: $light-orange;
    cursor:pointer;
  }
  &:active {
    background: $dark-orange;
  }
}

button.item-menu-button {
  @include hide-text;
  @include retina-image('images/tactile_grip', 34px 12px);
  height: 27px;
  width: 34px;
  border:none;
  background-color: transparent;
  background-repeat: no-repeat;
  opacity: 0.8;

  &:hover {
    cursor:pointer;
  }
}


.bool-response {
  @include shift(3);
  @include span-columns(9 of 12);
  @include user-select(none);
  margin-top: 20px;

  label {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  label:last-of-type .bool-response-item-container {
    margin-right: 0;
  }

  .ember-radio-button {
    z-index: -1;
    position:absolute;
  }
  .bool-response-item-container {
    display: inline-block;
    padding: 10px 15px;
    background: $omg-light-gray;
    border-radius: 3px;
    margin: 20px 40px 0 -15px;


    &:hover .bool-response-item-wrapper {
      background: $light-blue;
    }
    &:active .bool-response-item-wrapper {
      background: $dark-blue;
    }
  }
  .bool-response-item-wrapper {
    font-weight: bold;
    width: 150px;
    padding:5px 40px 2px;
    border-radius: 3px;
    border-bottom: 5px solid $dark-blue;
    background: $medium-blue;
    color: white;
    text-align:center;
    @include font-larger;
  }
}
