//Primary Colors

$lightest-blue: #f0f7fb;
$light-blue: #3e98d9;
$medium-blue: #3b89c1;
$dark-blue: #2977bd;

$light-orange: #fdc861;
$medium-orange: #f3bc52;
$dark-orange: #e5a13b;

//Secondary Colors

$omg-light-gray: #fafafa;
$lightestest-gray:#f4f5f5;
$lightest-gray: #f6f6f6;
$lighter-gray:#efefef;
$lighterish-gray:#e3e3e3;
$lightish-gray:#afafaf;
$light-gray: #aaaaaa;
$wills-hair-gray: #9e9e9e;
$subway-rat-gray: #888888;
$medium-gray: #3e3e3e;
$mediumish-gray: #393939;
$dark-gray: #363636;
$darker-gray: #333333;
$darkest-gray: #0d0f10;
