$vertical-grid-unit: 38px;
$border-box-sizing: true;


$grid-padding-unit: 38px;

@mixin grid-width($units){
  @warn "DEPRECATED use function instead";
  $column-width: 95px;
  $gutter-width: 33px;
  @if ($units > 1) {
      $gutter-amount: $units - 1;
      width: $column-width * $units + $gutter-amount * $gutter-width;
    } @else {
      width: $column-width;
    }
}

@mixin grid-height($units){
  @warn "DEPRECATED use function instead";
  height: $units*20px;
}