// Formulas tob in the Left Hand Panel
//
// ---------------------------------------

.tab-formulas {
  .tab-content {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .formulas--block {
    border: solid 1px #333333;
    text-align: center;
    color: $text-color-light;
  }

  .formulas--header {
    color: $text-color-light;
    text-transform: uppercase;
    background-color: #333333;
    padding: 5px 5px 5px 20px;
    font-size: 14px;
  }

  .formulas--block {
    border: solid 1px #333333;
    background-color: #3F3F3F;
    text-align: left;
    font-weight: normal;
    color: #CCCCCC;
    line-height: 18px;
    -webkit-flex: none;
    flex: none;

    .items {
      margin: 8px 10px 8px 40px;
      color: $background-color;

      .item {
        text-indent: -18px;
        padding: 3px 0;
      }

      .item:before {
        color: #46C8B3;
        content: "\2022";
        font-size: 24px;
        padding-right: 10px;
        position: relative;
        top: 3px;
      }
    }
  }

  .formulas--majority-runoff {
    margin-bottom: 30px;
  }

  .items {
    margin: 8px 10px 8px 40px;

    .item {
      .tab-formulas {
        .tab-content {
          text-indent: -18px;
          padding: 3px 0;
        }
      }
    }
  }
}