//Primary Colors

$background-color: #f9f8f4;
$background-color-secondary: #f4f3ec;
$border-color: #e1dfcc;
$social-democrat-color: #FB5258;
$liberal-color: #F8DB3B;
$green-color: #BBDF2A;
$nationalist-color: #46C8B3;
$conservative-color: #777777;
$text-color: #333333;
$text-color-secondary: #777777;
$text-color-light: #FFFFFF;
$text-field-color: rgba(51,51,51,.2);