@mixin transition-property($property) {
  -webkit-transition: $property .1s ease-in-out;
  -moz-transition: $property .1s ease-in-out;
  -o-transition: $property .1s ease-in-out;
  transition: $property .1s ease-in-out;
}

@mixin vertical-align { //deprecated
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

%vertically-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); 
}

@mixin simple-hover-state($color) {
  @include transition(background-color .1s);

  &:hover {
    cursor: pointer;
    background-color: $color;
  }
}